@font-face {
	font-family: "quicksand";
	src: url("font/Quicksand.ttf");
}

body {
	font-family: "quicksand";
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

section {
	padding: 10px;
	top: 0;
}

/* ----------NAVBAR------------- */

.tombol {
	text-transform: uppercase;
	border-radius: 60px;
	border: 2px solid white;
	color: white;
	font-size: 12px;
	font-family: "quicksand";
	margin-top: 5px;
}

.tombol-ungu {
	text-transform: uppercase;
	border-radius: 60px;
	background-color: #5f27cd;
	border: 1px solid#5f27cd;
	color: white;
	font-size: 12px;
	font-family: "quicksand";
	font-weight: 700;
}

.tombol-site {
	color: #5f27cd;
	font-weight: 700;
	font-family: "quicksand";
	font-size: 12px;
	border-radius: 60px;
	background-color: white;
	border: 1px solid#5f27cd;
}

.tombol-ungu:hover {
	background-color: white;
	color: #5f27cd;
	border: 1px solid#5f27cd;
}

.tombol-scroll {
	color: #5f27cd;
	border: 2px solid blueviolet;
}

/* ----------NAVBAR------------- */

/* ----------JUMBOTRON---------- */
.jumbotron {
	background-image: url(img/baru/bgbaru.png);
	background-size: cover;
	font-size: 40px;
	text-align: center;
	height: 640px;
	position: relative;
	z-index: 0;
}

.jumbotron .container {
	position: relative;
}

.jumbotron .display-4 {
	color: white;
	/* font-weight: 900; */
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	/* font-size: 30px; */
	font-family: "quicksand";
}

.jumbotron p {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	/* font-size: 30px; */
	font-family: "quicksand";
}

.jumbotron .profile-text {
	z-index: 1 !important;
	text-align: left;
}

/* ----------JUMBOTRON---------- */

/* ----------info panel----- */

.info-panel {
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	background-color: white;
	margin-top: -100px;
	padding: 30px;
}

.info-panel img {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-panel h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}

.info-panel p {
	font-size: 14px;
	color: #acacac;
	margin-top: -5px;
	font-weight: 200;
}

/* ----------workingspace------- */

.workingspace {
	margin-top: 50px;
}

.text-name {
	font-family: "quicksand";
}

.motto {
	font-family: "quicksand";
	/* text-align: center; */
	font-size: 12px !important;
	color: #5f27cd !important;
	font-weight: bold !important;
	margin-top: -10px !important;
}

.deskripsi {
	font-family: "quicksand";
	/* text-align: center; */
	font-size: 20px !important;
	color: #474747 !important;
	margin-bottom: -10px;
}

.workingspace img {
	width: 200px !important;
	display: block;
	/* margin-left: 30%; */
	margin-left: auto;
	margin-right: auto;
}

/* personal */

.label-content {
	margin-bottom: 30px;
}

.personal h2 {
	font-family: "quicksand";
	font-weight: bold;
	margin-bottom: -10px;
}

.personal small {
	letter-spacing: 3px;
}

.personal h5 {
	font-family: "quicksand" !important;
	font-size: 30px;
	font-weight: bold;
}

.personal p {
	font-family: "quicksand";
}

/* project */

.project h2 {
	font-family: "quicksand";
	font-weight: bold;
	margin-bottom: -10px;
}

.project small {
	letter-spacing: 3px;
}

.img-project {
	position: relative;
	width: 100%;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: 0.5s ease;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 100px;
	left: 30%;
	font-family: "quicksand";
	font-weight: bold;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.img-project:hover .overlay {
	width: 100%;
	opacity: 0.8;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.carousel-item {
	border-radius: 10px !important;
}

.adrees a {
	/* justify-content: right !important; */
	color: rgb(68, 66, 66);
	font-size: 12px;
}

footer p {
	font-size: 12px;
}

/* ===================================================== */
/* ======================== VERSI DEKSTOP ================ */
/* ===================================================== */

@media (min-width: 992px) {
	.navbar {
		height: 80px;
		position: fixed;
		z-index: 1;
		top: 0;
		width: 100%;
	}

	.navbar-brand {
		font-family: "quicksand";
		font-size: 30px;
		font-weight: bold;
	}

	.navbar-brand,
	.nav-link {
		color: white !important;
		font-family: "quicksand" !important;
	}

	.nav-link-scroll {
		color: #5f27cd !important;
	}

	.navbar-brand-scroll {
		color: #5f27cd !important;
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
		font-size: 13px;
		font-weight: 600;
	}

	.nav-link:hover::after {
		content: "";
		display: block;
		border-bottom: 3px solid violet;
		width: 80%;
		margin: auto;
		padding-top: 5px;
		margin-bottom: -8px;
	}

	/* .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);

  } */

	.jumbotron {
		/* margin-top: -75px; */
		text-align: center;
		font-size: 62px;
		height: 640px;
		background-size: cover;
	}

	.jumbotron .profile-text {
		margin-top: 100px;
		z-index: 0 !important;
		text-align: left;
	}

	.jumbotron .display-4 {
		font-weight: 900;
		font-size: 40px;
	}

	.jumbotron p {
		font-size: 25px;
	}

	.jumbotron .sosmed {
		text-align: left;
		color: gray !important;
	}

	.jumbotron .sosmed a {
		color: honeydew !important;
		padding: 8px;
	}

	/* info panel */
	.info-panel {
		margin-top: -130px;
		padding: 30px;
	}

	/* info panel */

	.profile {
		justify-content: end !important;
		border: royalblue !important;
	}

	.img-profile {
		width: 50%;
	}

	/* .workingspace {
    text-align: left !important;
  } */

	/* ---workingspace--- */

	.text-name {
		/* font-family: "quicksand"; */
		text-align: justify;
		font-size: 28px !important;
		color: #5f27cd !important;
		/* font-weight: bold !important; */
		margin-bottom: 10px;
	}

	.deskripsi {
		font-family: "quicksand";
		text-align: justify;
	}

	/* personal */
	.personal .card-content {
		padding: 50px !important;
	}

	.testimonial h5 {
		font-size: 32px;
	}

	.workingspace p {
		font-weight: 200;
		font-size: 18px;
		color: #acacac;
		margin-top: 10px;
	}

	.jumbotron .sosmed a {
		color: #ffffff !important;
		padding: 5px;
		font-size: 0.7em !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	}

	.footer .sosmed a {
		color: rgb(61, 59, 59) !important;
		padding: 5px;
		font-size: 1.3em !important;
		text-align: left !important;
	}
}

/* ===================================================== */
/* ======================== VERSI MOBILE================ */
/* ===================================================== */

@media (max-width: 680px) {
	.navbar-brand {
		font-family: "quicksand";
		font-size: 30px;
		font-weight: bold;
	}

	.navbar-brand,
	.nav-link {
		color: #5f27cd !important;
		font-family: "quicksand" !important;
		font-size: 20px;
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
		font-size: 13px;
		font-weight: 600;
	}

	.nav-link:hover {
		color: gray;
	}

	.navbar {
		box-shadow: indigo;
	}

	.text-content p {
		text-align: justify;
	}

	.jumbotron .sosmed a {
		color: honeydew !important;
		padding: 5px;
		font-size: 0.7em !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	}

	.footer .sosmed a {
		color: rgb(61, 59, 59) !important;
		padding: 5px;
		font-size: 1.3em !important;
		text-align: center !important;
	}

	.adrees {
		margin-top: -5px;
	}

	.jumbotron {
		height: 400px;
	}

	.jumbotron .profile-text {
		margin-top: 30px;
	}

	.jumbotron .display-4 {
		font-weight: bold;
		font-size: 30px;
	}

	.jumbotron p {
		font-size: 18px;
		font-weight: 600;
	}

	/* infoo panel */
	.info-panel {
		margin-top: -200px;
		padding: 30px;
	}

	/* info panel */

	/* workingspace */
	.text-name {
		font-size: 25px !important;
		color: #5f27cd !important;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.deskripsi {
		font-family: "quicksand";
		text-align: justify;
	}

	/* workingspace */

	.workingspace img {
		width: 120px !important;
	}

	.text-content h5 {
		font-size: 18px !important;
		margin-top: 20px;
	}

	.text-content p {
		font-size: 13px !important;
		margin-top: 10px;
	}

	.card-content {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
